@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Dosis:wght@200..800&family=Handjet:wght@100..900&display=swap');

body{
    height: 100vh;
    background-color: tomato;
    font-family: "Handjet", sans-serif;
    color: #fbff0a;
    background-image: url(../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    font-family: "Cabin", sans-serif;
}

a{
    font-family: "Cabin", sans-serif;
    font-weight: 300;
    font-size: 50px;
    text-decoration: none;
}

img{
    width: 200px;
    height: auto;
}

div{
    width: 500px;
    height: 50px;
    background-color: pink;
    border: 5px dotted #000000;
}